/* content */
.content
  @apply absolute top-16 pt-4 right-4 bottom-16 left-4 overflow-auto
  -webkit-overflow-scrolling: touch
  -ms-overflow-style: -ms-autohiding-scrollbar

  &::-webkit-scrollbar
    display: none