<!-- <div class="dialog-overlay d-overlay"> -->
<div class="d-overlay fixed flex inset-0 z-50 items-center justify-center bg-black opacity-70">
    <div class="dialog relative flex flex-col lg:w-96 z-60 bg-gray-100 overflow-hidden shadow rounded">
    <!-- <div class="dialog" role="dialog" aria-labelledby="dialogtitle" tabindex="-1"> -->
        <!-- .dialog 
            background-color: var(--sh-white)
            width: clamp(300px, 75vw, 90vw)
            z-index: var(--sh-modal-zindex)
            overflow: hidden
            outline: 0
            display: flex
            flex-direction: column
            max-height: calc(100vh - var(--sh-modal-margin) * 2)
            position: relative
            background-clip: padding-box
            box-shadow: 0 16px 24px 2px rgba(#000, 0.14), 0 6px 30px 5px rgba(#000, 0.12), 0 8px 10px -5px rgba(#000, 0.3) -->

        <div class="dialog-header">
            <h6 class="dialog-title" id="dialogtitle">{{ title }}</h6>
            <button type="button" class="dialog-close" (click)="close('by x')">X</button>
        </div>
        <div class="dialog-body">
            <ng-content></ng-content>
        </div>
    </div>
</div>